#sidebar {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	grid-column: 1 / 4;
	grid-row: 3 / 20;
	padding-top: 1rem;
}

#profile {
	flex: 4 4;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#profile_container {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: visible;
	background-color: #ff6767;
	border-top-right-radius: 1rem;
}

#choices {
	/* background-color: magenta; */
	flex: 9 9;
	background-color: #ff6767;
}

#logout {
	/* background-color: violet; */
	background-color: #ff6767;
	flex: 1 1;
	padding-bottom: 1rem;
}

#profile_pic {
	aspect-ratio: 1 / 1;
	width: 45%;
	border-radius: 50%;
	margin: .5rem;
}

#name {
	font-size: 1.25rem;
	font-weight: 600;
	color: #fff;
}

#email {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 1rem;
	color: white;
}

.choice_container {
	display: flex;
	margin: 0.25rem 1rem 0 1rem;
	padding: 1rem;
	padding-left: 2rem;
	align-items: center;
	color: white;
	border-radius: 0.5rem;
}

.choice {
	font-size: 1rem;
	font-weight: 500;
	padding-left: 1rem;
}

.choice_container:hover {
	cursor: pointer;
	background-color: #fff;
	color: #ff6767;
}
 
.icon {
	font-size: 2rem;
}
