#sidebar {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	grid-column: 1 / 4;
	grid-row: 3 / 20;
	padding-top: 1rem;
}

#profile {
	flex: 4 4;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
}

#profile_container {
	height: 50%;
	width: 100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	align-items: center;
	overflow: visible;
	background-color: #ff6767;
	border-top-right-radius: 1rem;
}

#choices {
	/* background-color: magenta; */
	flex: 9 9;
	background-color: #ff6767;
}

#logout {
	/* background-color: violet; */
	background-color: #ff6767;
	flex: 1 1;
}

#profile_pic {
	aspect-ratio: 1 / 1;
	width: 55%;
	border-radius: 50%;
	margin: .5rem;
}

#name {
	font-size: 1.5rem;
	color: white;
}

#email {
	font-size: 1rem;
	color: white;
}

.choice_container {
	display: flex;
	padding: 0.75rem;
	padding-left: 2rem;
	align-items: center;
	color: white;
}

.choice {
	font-size: 1rem;
	padding-left: 1rem;
}

.choice_container:hover {
	cursor: pointer;
}
