#sidebar {
	/* background-color: blue; */
	display: flex;
	flex-direction: column;
	grid-column: 1 / 4;
	grid-row: 3 / 20;
	flex: 3 3;
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.8);
}

/* #profile { */
/* 	flex: 4 4; */
/* 	display: flex; */
/* 	flex-direction: column; */
/* 	justify-content: flex-end; */
/* } */

#profile_container {
	width: 100%;
	background-color: #ff6767;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#choices {
	/* background-color: magenta; */
	flex: 9 9;
	background-color: #ff6767;
}

#logout {
	/* background-color: violet; */
	background-color: #ff6767;
	flex: 1 1;
	padding-bottom: 1rem;
}

#profile_pic {
	aspect-ratio: 1 / 1;
	width: 45%;
	border-radius: 50%;
	margin: 0.5rem;
	border: 0.125rem #fff solid;
}

#name {
	font-size: 1.25rem;
	font-weight: 600;
	color: #fff;
}

#email {
	font-size: 1rem;
	font-weight: 300;
	margin-bottom: 1rem;
	color: white;
}

.choice_container {
	display: flex;
	margin: 0.25rem 1rem 0 1rem;
	padding: 1rem;
	padding-left: 2rem;
	align-items: center;
	color: white;
	border-radius: 0.5rem;
}

.choice {
	font-size: 1rem;
	font-weight: 500;
	padding-left: 1rem;
}

.choice_container:hover {
	cursor: pointer;
	background-color: #ff9090;
}

.icon {
	font-size: 2rem;
}
