#notifications {
	grid-column: 13 / 18;
	grid-row: 3 / 14;
	background-color: #ffffff;
	z-index: 999;
	border-radius: 1rem;
	padding: 1rem 2rem 1rem 2rem;
}

#header {
	display: flex;
	margin: 0 0 1rem 0;
}

#left {
	flex: 2 2;
	justify-self: flex-start;
}

#right {
	justify-self: flex-end;
	display: flex;
	justify-self: center;
	align-items: center;
}

#right:hover {
	cursor: pointer;
}

.icon {
	font-size: 2rem;
}

#day {
	font-size: 1rem;
}

#title {
	font-size: 1.5rem;
	padding: 0 0 1rem 0;
}
