#dashboard {
	grid-column: 4 / 20;
	grid-row: 3 / 20;
	padding: 5rem;
	overflow: scroll;
}

#board {
	border: 3px #ced1d8 solid;
	display: flex;
}

#stat_and_completed {
	display: flex;
	flex-direction: column;
}

#welcome_and_colab {
	padding-bottom: 2rem;
}
