#dashboard {
	grid-column: 3 / 10;
	grid-row: 2 / 10;
	padding: 3rem;
}

#board {
	border: 1px black solid;
	display: flex;
	padding: 1rem;
}

#stat_and_completed {
	flex: 1 1;
	display: flex;
	flex-direction: column;
}
