#task {
	border: 3px #ced1d8 solid;
	border-radius: 2rem;
	margin: 2rem 2rem 0 2rem;
	padding: 1rem;
}

#task_info {
	display: flex;
}

#progress_icon_container {
	/* background-color: pink; */
	flex: 1 1;
}

#progress_icon {
	font-weight: 800;
}

#printable_meta {
	/* background-color: magenta; */
	flex: 9 9;
}

#cover_container {
	/* background-color: violet; */
	flex: 6 6;
	display: flex;
	align-items: center;
	justify-content: center;
}

#cover {
	width: 75%;
	aspect-ratio: 1 / 1;
	border-radius: 10%;
}

#task_meta {
	padding-left: 2rem;
	display: flex;
	align-items: flex-start;
}

#prio {
	flex: 1 1;
}

#stat {
	flex: 1 1;
}

#creation {
	flex: 1 1;
	text-align: right;
	padding-right: 2rem;
}
