#account_page {
	border: 3px #ced1d8 solid;
	margin: 5rem;
	padding: 3rem;
	border-radius: 2rem;
}

#dashboard_todo {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	border-radius: 2rem;
	margin: 3rem 0.75rem 3rem 3rem;
	padding: 2rem;
	background-color: #f5f8ff;
}

#dashboard_task_status {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	padding: 2rem;
	border-radius: 2rem;
	margin: 3rem 3rem 0.75rem 0.75rem;
	background-color: #f5f8ff;
}

#dashboard_completed_tasks {
	box-shadow: 0 0 1rem rgba(0, 0, 0, 0.2);
	padding: 2rem;
	border-radius: 2rem;
	margin: 0.75rem 3rem 3rem 0.75rem;
	background-color: #f5f8ff;
}

#my_task {
	border: 3px #ced1d8 solid;
	padding: 3rem;
	margin-right: 1rem;
	border-radius: 2rem;
	flex: 4 4;
}

#task_view {
	border: 3px #ced1d8 solid;
	padding: 3rem;
	margin-left: 1rem;
	border-radius: 2rem;
	flex: 6 6;
}
