#section {
	/* background-color: blue; */
	flex: 1 1;
	margin: 1rem;
	border: 1px black solid;
	overflow: scroll;
	padding: 2rem;
}

#header {
	display: flex;
}

#title {
	flex: 3 1;
}

#action {
	flex: 1 1;
	background-color: white;
	text-align: left;
}

#action:hover {
	cursor: pointer;
}

