#screen_cover {
	z-index: 9999;
	grid-column: 1 / 20;
	grid-row: 1 / 20;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

#add_task {
	background-color: #ffffff;
	width: 50%;
	aspect-ratio: 7 / 5;
	border-radius: 0.5rem;
	padding: 3rem;
	display: flex;
	flex-direction: column;
}

#header {
	display: flex;
}

#title {
	flex: 1 1;
	font-size: 1.5rem;
	font-weight: 500;
}

#go_back {
	font-size: 1.5rem;
	font-weight: 500;
}

#go_back:hover {
	cursor: pointer;
}

#body {
	border: 3px #ced1d8 solid;
	margin: 2rem 0 0 0;
	padding: 2rem;
	flex: 1 1;
}

.form_label {
	font-size: 1.5rem;
	padding: 1rem 0 0.5rem 0;
	font-weight: 400;
}

#task_title {
	padding-top: 0;
}

.short_text_field {
	width: 50%;
	font-size: 1rem;
	padding: 0.5rem;
	border: 3px #ced1d8 solid;
}

.checkbox_field {
	display: inline;
	margin: 0.5rem 1rem 0.5rem 0.5rem;
}

.priority_label {
	display: inline;
	font-size: 1rem;
}

#date_field {
	width: 50%;
	font-size: 1.5rem;
	border: 3px #ced1d8 solid;
}

#lower_body {
	display: flex;
	flex: 1 1;
}

#description {
	flex: 1 1;
	display: flex;
	flex-direction: column;
	padding: 0 1rem 0 0;
}

.long_text_field {
	flex: 1 1;
	padding: 1rem;
	border: 3px #ced1d8 solid;
}

#image {
	flex: 1 1;
	padding: 0 0 0 3rem;
	display: flex;
	flex-direction: column;
}

#form {
	display: flex;
	flex-direction: column;
	height: 100%;
}

#image_upload {
	border: 3px #ced1d8 solid;
	flex: 1 1;
	border-radius: 1rem;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.upload_image {
	font-size: 10rem;
	display: block;
}
