#screen_cover {
	z-index: 9999;
	grid-column: 1 / 20;
	grid-row: 1 / 20;
	background-color: rgba(0, 0, 0, 0.8);
	display: flex;
	justify-content: center;
	align-items: center;
}

#add_task {
	background-color: #ffffff;
	width: 50%;
	aspect-ratio: 7 / 5;
	border-radius: 0.5rem;
	padding: 3rem;
}

#header {
	display: flex;
}

#title {
	flex: 1 1;
}

#go_back:hover {
	cursor: pointer;
}

#body {
	border: 1px solid black;
}
