* {
	padding: 0px;
	margin: 0px;
	border: 0px;
}

.material-symbols-outlined.fs3rem {
	font-size: 3rem;
}

.material-symbols-outlined.fs2rem {
	font-size: 2rem;
}

.material-icons.fs3rem {
	font-size: 3rem;
}

.material-icons.fs2rem {
	font-size: 2rem;
}
