.title1 {
	font-size: 2.5rem;
	font-family: "Inter", sans-serif;
}

.title2 {
	font-size: 2.5rem;
	font-family: "Inter", sans-serif;
}

.title3 {
	font-size: 2rem;
	font-family: "Inter", sans-serif;
}

.body1 {
	font-size: 1.5rem;
	font-family: "Inter", sans-serif;
}

.body2 {
	font-size: 1rem;
	font-family: "Inter", sans-serif;
}

.text_field {
	border: 1px black solid;
	border-radius: 0.5rem;
}

.button_field {
	background-color: #ff6767;
	border-radius: 0.5rem;
	color: #fff;
	cursor: pointer;
	aspect-ratio: 1 / 1;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
	margin: 0.5rem;
}

.button_long {
	background-color: #ff6767;
	border-radius: 0.5rem;
	color: #fff;
	cursor: pointer;
	box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.4);
	margin: 0.5rem;
	font-weight: 700;
	padding: 1rem;
}

.submit_field {
	border-radius: 1rem;
}

.img_placeholder {
	background-color: gray;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
}
