#plot {
	flex: 1 1;
}

#exterior {
	background-color: gray;
	padding: 0.5rem;
	/* Change units (vh) to % when placed in the actual  */
	border-radius: 1000%;
	aspect-ratio: 1 / 1;
	width: 60%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#interior {
	background-color: white;
	border-radius: 100%;
	aspect-ratio: 1 / 1;
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
}

#title {
	text-align: center;
}
