#sign_up_page {
	height: 100vh;
	width: 100vw;
	/* background-color: gold; */
	display: flex;
	align-items: center;
	justify-content: center;
}

#sign_up {
	/* background-color: mintcream; */
	border: 1px solid black;;
	aspect-ratio: 16 / 9;
	height: 80%;
	display: flex;
}

#corporate_art {
	flex: 1 1;
	/* background-color: pink; */
}

#signup_form_container {
	flex: 1 1;
	/* background-color: navy; */
	display: flex;
	flex-direction: column;
	justify-content: center;
}

#terms_agreed {
	display: inline;
}

.text_field {
	display: inline;
}

.text_field_icon {
	display: inline;
}

.button_field {
	display: block;
}

.button_field {
	display: block;
	padding: 1rem;
	margin: 1rem 0rem 1rem 0;
	border: 1px black solid;
}

.text_field_label {
	display: block;
	padding: 1rem;
	margin: 1rem 10rem 1rem 0;
	border: 1px black solid;
}

.checkbox_field {
	aspect-ratio: 1 / 1;
	margin: 1rem;
	width: 1.5rem;
}

.checkbox_field_label {
	display: flex;
	align-items: center;
}
