#account {
	grid-column: 4 / 20;
	grid-row: 3 / 20;
	overflow: scroll;
}

#profile_pic {
	aspect-ratio: 1 / 1;
	width: 13rem;
	border-radius: 7rem;
}

#profile {
	display: flex;
	padding: 1rem;
}

#profile_meta {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 1rem;
}

#form_container {
	border: 3px #ced1d8 solid;
	border-radius: 2rem;
	padding: 3rem;
}

#buttons_container {
	display: block;
}

.button_field {
	cursor: pointer;
}

.text_field {
	border: 1px black solid;
	width: 45%;
	margin: 1rem 0 1rem 0;
	border: 3px #ced1d8 solid;
	border-radius: 0.5rem;
	background-color: #f5f8ff;
	font-size: 1.25rem;
	padding: 0.5rem;
	padding-left: 1rem;
	font-family: inter;
}

.field_label {
	font-size: 1.25rem;
}
